/*se aplica a todo el documento*/
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}
/*estilo de los links*/
a {
  color: #6E7F8D;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: #1DA1F2;
}
/*estilo dle body*/
body {
  background: #E6ECF0;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}
/*botón de la barra de navegación*/
button>.btn1 {
  border-radius: 21px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #1DA1F2;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  padding: 8px 15px 8px 12px;
  margin: 0;
  margin-left: 20px;
  border-style: none;
  transition: all .3s ease-in-out;
}

div.user {
  display: inline-block;
  height: auto;
  width: 55%;
  margin-left: 170px;
  vertical-align: top;
}
/*estilo de los iconos*/
i.fa {
  font-size: 20px;
  color: #6E7F8D;
  margin: 0 5px 0 25px;
  transition: all .2s ease-in-out;
}

i.fa-twitter {
  font-size: 25px;
  color: #1DA1F2;
  padding: 5px;
  margin: 7px 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

i.fa:hover {
  cursor: pointer;
  color: #1DA1F2;
}

input {
  margin: 15px 0;
}
/*busqueda de la barra de navegación*/
input.search {
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  transition: all .3s ease-in-out;
  margin: 0;
  margin-left: 14%;
  outline: 0;
}
/*barra de navegación fija*/
nav.fixed-top {
  backface-visibility: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0, .5);
  zs position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
/*información de usuario*/
p.info {
  font-size: 13px;
  margin-top: 10px;
  display: inline-block;
}

p.user-at {
  font-size: 14px;
  color: gray;
  margin-bottom: 7px;
}

p.user-at:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*contador de caracteres*/
#contador {
  float: right;
  overflow: hidden;
  display: inline-block;
  margin: 15px 0;
}

/*contenedor principal*/
#main-container {
  display: block;
  height: 100%;
  background: #E6ECF0;
  position: relative;
  width: 80%;
  padding: 60px 14px 15px;
  margin: 0 auto;
}

/*perfil del usuario*/
#profile {
  width: 30px;
  height: 30px;
  margin: 0px;
  margin-left: 15px;
  padding: 0;
  border-radius: 100%;
  position: relative;
  top: 10px;
}
/*sección del tweet*/
#section-tweet {
  margin-top: 15px;
  float: right;
  display: inline-block;
  width: 48%;
  overflow: hidden;
  vertical-align: top;
  background: #E8F5FD;
  padding: 15px;
  border: 1px solid rgba(8, 8, 8, .08);
}
/*sección para publicar*/
#section-publish p {
  margin-top: 5px;
}

/*imagen del perfil*/
#profile-image {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 2;
}

/*publicar*/
#publish {
  margin-bottom: 20px;
}

/*enviar */
#send {
  border-radius: 21px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #1DA1F2;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  padding: 8px 15px 8px 12px;
  margin-top: 10px;
  margin-left: 0px;
  border-style: none;
  transition: all .3s ease-in-out;
  outline: none;
}

#send:hover {
  background: #176fa5;
  outline: none;
}

/*sección de perfil*/
#section-profile {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(8, 8, 8, .08);
  width: 45%;
  height: 380px;
  clear: both;
  background: #FFFFFF;
}

/*imagen de fondo de area de usuario*/
.background-image {
  position: relative;
  border: none;
  outline: none;
  width: 100%;
  height: 150px;
}

/*modificación de la imagen*/
.border-radius {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px solid #fff;
  display: inline-block;
}

.btn1:focus, .myTweet:focus {
  outline: none;
}

.btn1:hover {
  background: #176fa5;
  cursor: pointer;
}


/*estilo de la hora del tweet*/
.dateClass {
  color: gray;
  font-size: 12px;
}

.fixed-top {
  position: fixed;
}
/*estilo del contenido de la barra de navegación*/
.fixed-top>.nav-fixed>ul {
  display: inline-block;
  margin: 8px 90px;
  vertical-align: middle;
  padding: 5px;
}

.fixed-top .nav-fixed ul li {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}
/*seguidores*/
.followers {
  margin-left: 160px;
  font-size: 14px;
}

.followers ul {
  display: inline-block;
  margin: 10px;
}

.followers ul li.numbers {
  font-weight: bold;
  font-size: 14px;
  color: #5b5b5b;
}

.followers li {
  color: #1DA1F2;
  font-weight: bold;
  font-size: 21px;
}


.followers li {
  list-style: none;
}


/*área donde se escribe el tweet*/
.myTweet {
  position: relative;
  display: block;
  border-radius: 5px;
  height: auto;
  width: 485px;
  height: auto;
  line-height: 20px;
  border: none;
  outline: none;
}

.nav-fixed {
  background: #FFFFFF;
  box-shadow: 2px 2px 50px #d3d3d3;
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  display: inline-block;
  z-index: 7;
}
/*area donde se publica el tweet*/
.new {
  height: auto;
  width: 98%;
  padding: 10px;
  background: #FFFFFF;
  margin: 20px 0;
  border: 1px solid rgba(8, 8, 8, .08);
}

.search:hover {
  border: 1px solid #1DA1F2;
}


.tweetarea {
  box-sizing: border-box;
  height: auto;
  color: #000;
  margin: 15px 0;
  margin-top: 100px;
  display: block;
}
